@using System.Security.Claims
@using HaroldAdviser.Models
@model HaroldAdviser.Models.GithubUser

@if (User.Identity.IsAuthenticated)
{
    <div class="dropdown">
        <a href="#" id="profile-dropdown" class="text-white dropdown-toggle" aria-expanded="false" data-toggle="dropdown">
            <img src="@User.FindFirst(c => c.Type == "urn:github:avatar")?.Value" class="avatar" alt=""/>
            @User.FindFirst(c => c.Type == "urn:github:login")?.Value
        </a>
        <div class="dropdown-menu" aria-labelledby="profile-dropdown">
            <a href="@Url.Action("Page", "User")" class="dropdown-item">Profile</a>
            <a href="@Url.Action("Logout", "Account")" id="logout" class="dropdown-item">Logout</a>
        </div>
    </div>
}
else
{
    <a id="sign-in" href="@Url.Action("Login", "Account")" class="btn btn-success" role="button">
        Login with GitHub
    </a>
}